<!doctype html>
<html lang="en">
  
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>STEL</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="shortcout icon" href="0. Imagenes/0. Logos/3. logo sin  nombre blanco.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" type="text/css" href="1. CSS/2. Modulos.css">

        <script src="https://code.jquery.com/jquery-3.5.1.js" defer></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js" defer></script>
        <script src="2. JavaScript/modulos.js" defer></script>

    </head>

    <body>
    
        <!-- Menu lateral -->

        <nav class="navbar navbar-expand-lg" style="background-color: #23518C;">

            <div class="container-fluid">

                <a class="navbar-brand" href="paginaInicioModulos.html">
                    <img src="0. Imagenes/0. Logos/3. logo sin  nombre blanco.png" alt="Logo" width="60" height="65" class="d-inline-block align-text-top">
                </a>

                <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">

                        <li class="nav-item fs-3">
                            <a class="nav-link active text-white" aria-current="page" href="paginaInicioModulos.html">STEL</a>
                        </li>

                        <li class="nav-item dropdown align-self-center">

                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Usuarios <i class="bi bi-people-fill"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="consultarUsu.html">Consultar Usuario</a></li>
                                <li><a class="dropdown-item" href="consultarInmueble.html">Consultar inmueble</a></li>


                            </ul>

                        <li class="nav-item dropdown align-self-center">

                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Adminstración <i class="bi bi-house"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="administracionDocumentacion.html">Documentación</a></li>
                                <li><a class="dropdown-item" href="visitantesSeccion.html">Vistantes</a></li>

                            </ul>

                        <li class="nav-item dropdown align-self-center">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Alquiler Parqueaderos <i class="bi bi-car-front-fill"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="movimientoVehiculo.html">Entrada y Salida</a></li>

                             </ul>

                        </li>
                
                        <li class="nav-item dropdown align-self-center">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Comunicación <i class="bi bi-broadcast"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="correspondencia.html">Correspondencia</a></li>
                                <li><a class="dropdown-item" href="novedades.html">Novedades</a></li>

                            </ul>

                        </li>

                        <li class="nav-item align-self-center">
                            <a class="nav-link active text-white d-flex justify-content-end" aria-current="page" href="index.html">Salir</a>
                        </li>
                    
                    </ul>


                </div>

            </div>

        </nav>

        <!-- Resumen de datos personales -->

        <div class="container pt-4">

            <div class="row">

                <div class="col-4">

                    <img src="0. Imagenes/19. ResumenDatosUsuario/simbolUser.png" alt="" class="rounded">

                </div>

                <div class="col ms-5">

                    <h1 style="color: #23518C;">Datos del Usuario</h1>
                    <hr>
                    <div class="row">

                        <div class="col-2" style="font-size: 18px; color: #23518C; font-weight: bold;">

                            <p>ID: </p>
                            <p>Nombre: </p>
                            <p>Cedula: </p>
                            <p>Celular: </p>
                            <p>Correo: </p>
                            <p>Empresa: </p>
                            <p>Contrato: </p>

                        </div>

                        <div class="col" style="font-size: 18px;">

                            <p>1</p>
                            <p>David Olaya</p>
                            <p>5646544484</p>
                            <p>356 365 3459</p>
                            <p>david@gmail.com</p>
                            <p>Seguridad LTA</p>
                            <p>Indefinido</p>

                        </div>

                    </div>


                </div>

            </div>

        </div>

        <!-- Columnas resumen de datos por modulo -->

        <div class="container d-text-center mt-5">

            <h3 style="color: #23518C;">Novedades del trabajador</h3>
            <hr>
            <table id="example1" class="table table-striped" style="width:100%;">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Asunto</th>
                        <th>Fecha</th>
                        <th>Estado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td>Problema con residente</td>
                        <td>2023-04-17</td>
                        <td>Espera</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Solicitud almacen</td>
                        <td>2023-03-24</td>
                        <td>Espera</td>
                    </tr>
                    <tr>
                        <td>45</td>
                        <td>Cambio de jornada</td>
                        <td>2023-05-10</td>
                        <td>Solicitud Atendida</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Permiso</td>
                        <td>2023-05-10</td>
                        <td>Solicitud Atendida</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    </body>

</html>