<!doctype html>
<html lang="en">
  
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>STEL</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="shortcout icon" href="/view/0. Imagenes/0. Logos/3. logo sin  nombre blanco.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" type="text/css" href="/view/1. CSS/2. Modulos.css">

        <script src="https://code.jquery.com/jquery-3.5.1.js" defer></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js" defer></script>
        <script src="/view/2. JavaScript/modulos.js" defer></script>


    </head>

    <body>
    
        <!-- Menu lateral -->

        <nav class="navbar navbar-expand-lg" style="background-color: #23518C;">

            <div class="container-fluid">

                <a class="navbar-brand" href="paginaInicioModulos.html">
                    <img src="/view/0. Imagenes/0. Logos/3. logo sin  nombre blanco.png" alt="Logo" width="60" height="65" class="d-inline-block align-text-top">
                </a>

                <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">

                        <li class="nav-item fs-3">
                            <a class="nav-link active text-white" aria-current="page" href="paginaInicioModulos.html">STEL</a>
                        </li>

                        <li class="nav-item dropdown align-self-center">

                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Usuarios <i class="bi bi-people-fill"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="usuriosCreacion.html">Crear Usurario</a></li>
                                <li><a class="dropdown-item" href="consultarUsu.html">Consultar Usuario</a></li>
                                <li><a class="dropdown-item" href="consultarInmueble.html">Consultar Inmueble</a></li>


                            </ul>

                        <li class="nav-item dropdown align-self-center">

                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Adminstración <i class="bi bi-house"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="administracionDocumentacion.html">Documentación</a></li>
                                <li><a class="dropdown-item" href="multasSeccion.html">Multas</a></li>
                                <li><a class="dropdown-item" href="carteraSeccion.html">Cartera</a></li>
                                <li><a class="dropdown-item" href="visitantesSeccion.html">Vistantes</a></li>
                                <li><a class="dropdown-item" href="resumenDatos.html">Resumen de datos</a></li>

                            </ul>

                        <li class="nav-item dropdown align-self-center">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Alquiler Parqueaderos <i class="bi bi-car-front-fill"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="cuposParqueadero.html">Cupos parqueadero</a></li>
                                <li><a class="dropdown-item" href="movimientoVehiculo.html">Entrada y Salida</a></li>
                                <li><a class="dropdown-item" href="configuracionAlquiler.html">Configuración</a></li>
                                <li><a class="dropdown-item" href="datosParqueadero.html">Datos parqueadero</a></li>

                             </ul>

                        </li>
                
                        <li class="nav-item dropdown align-self-center">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Comunicación <i class="bi bi-broadcast"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="correspondencia.html">Correspondencia</a></li>
                                <li><a class="dropdown-item" href="novedades.html">Novedades</a></li>

                            </ul>

                        </li>

                        <li class="nav-item align-self-center">
                            <a class="nav-link active text-white d-flex justify-content-end" aria-current="page" href="/view/index.html">Salir</a>
                        </li>
                    
                    </ul>


                </div>

            </div>

        </nav>

        <!-- Tablas disponibilidad parqueaderos -->

        <div class="container d-text-center pt-4">

            <div class="row align-items-start">

                <div class="col">

                    <h2>Cupos Parqueaderos</h2>
                    <hr>
                    
                    <form action="">

                        <label for="numParqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#23518C">Numero de parqueadero</label>
                        <input type="number" class="form-control" id="numParqueadero" aria-describedby="numParqueadero" placeholder="numero de parqueadero...">

                        <label for="numeroInmueble" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#23518C">Numero del inmueble</label>
                        <input type="number" class="form-control" id="numeroInmueble" aria-describedby="numeroInmueble" placeholder="numero del inmueble...">

                        <label for="numeroPlaca" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#23518C">Numero de la placa</label>
                        <input type="text" class="form-control" id="numeroPlaca" placeholder="numero de la placa...">

                        <label for="tipoVehiculo" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#23518C">Tipo de vehiculo</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione el tipo de vehiculo</option>
                            <option value="1">Carro</option>
                            <option value="2">Moto</option>
                        </select>

                        <label for="nombreResidenteCupoParqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color: #23518C;">Nombre del residente</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Residente...</option>
                            <option value="Juan Esteban Cajiao Madero">Juan Esteban Cajiao Madero</option>
                            <option value="David Santiago Olaya">David Santiago Olaya</option>
                            <option value="Kelly Johana Diaz Robleado">Kelly Johanna Diaz Robleado</option>
                        </select>

                        <button type="button" class="btn mt-4" style="background-color: #23518C; color: white;">Guardar</button>

                    </form>

                </div>

                <div class="col">
                    
                    <img src="/view/0. Imagenes/22. Cupo parqueaderos/ParqueaderoCupos.jpg" alt="" style="border-radius: 10px; margin-left: 90px; margin-top: 20px;">

                </div>
                

            </div>

        </div>

        <!-- Tabla de parqueaderos -->

        <div style="margin-left: 115px; margin-right: 115px; margin-top: 20px; margin-bottom: 25px;">

            <hr class="mt-5">
            <table id="example" class="table table-striped" style="width:100%;">
                <thead>
                    <tr>

                        <th>Num. Parqueadero</th>
                        <th>Estado</th>
                        <th>Tipo de vehiculo</th>
                        <th>Usado por...</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ocupado</td>
                        <td>Carro</td>
                        <td><button type="button" class="btn" style="background-color: #23518C; color: white;" data-bs-toggle="modal" data-bs-target="#consultarUso">Consultar</button></td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Libre</td>
                        <td>Carro</td>
                        <td><button type="button" class="btn" style="background-color: #23518C; color: white;" data-bs-toggle="modal" data-bs-target="#consultarUso">Consultar</button></td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Ocupado</td>
                        <td>Carro</td>
                        <td><button type="button" class="btn" style="background-color: #23518C; color: white;" data-bs-toggle="modal" data-bs-target="#consultarUso">Consultar</button></td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Ocupado</td>
                        <td>Moto</td>
                        <td><button type="button" class="btn" style="background-color: #23518C; color: white;" data-bs-toggle="modal" data-bs-target="#consultarUso">Consultar</button></td>

                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Libre</td>
                        <td>Moto</td>
                        <td><button type="button" class="btn" style="background-color: #23518C; color: white;" data-bs-toggle="modal" data-bs-target="#consultarUso">Consultar</button></td>

                    </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="consultarUso" tabindex="-1" aria-labelledby="consultarUsoParqueadero" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="consultarUsoParqueadero" style="color: #23518C;">Uso de parqueadero</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        
                                        <div class="container">

                                            <div class="row">

                                                <div class="col" style="color: #23518C; font-weight: bold;">

                                                    <p>Nombre: </p>
                                                    <p>Casa: </p>
                                                    <p>Telefono/Celular: </p>
                                                    <p>Parqueadero: </p>
                                                    <p>Placa: </p>

                                                </div>

                                                <div class="col">

                                                    <p>Juan Esteban Cajiao Madero </p>
                                                    <p>10</p>
                                                    <p>345 221 4504</p>
                                                    <p>4</p>
                                                    <p>ACB123</p>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                    
                </tbody>
            </table>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    </body>
    
</html>