<!doctype html>
<html lang="en">
  
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>STEL</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="shortcout icon" href="/view/0. Imagenes/0. Logos/3. logo sin  nombre blanco.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" type="text/css" href="/view/1. CSS/2. Modulos.css">

        <script src="https://code.jquery.com/jquery-3.5.1.js" defer></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js" defer></script>
        <script src="/view/2. JavaScript/modulos.js" defer></script>

    </head>

    <body>
    
        <!-- Menu lateral -->

        <nav class="navbar navbar-expand-lg" style="background-color: #23518C;">

            <div class="container-fluid">

                <a class="navbar-brand" href="paginaInicioModulos.html">
                    <img src="/view/0. Imagenes/0. Logos/3. logo sin  nombre blanco.png" alt="Logo" width="60" height="65" class="d-inline-block align-text-top">
                </a>

                <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">

                        <li class="nav-item fs-3">
                            <a class="nav-link active text-white" aria-current="page" href="paginaInicioModulos.html">STEL</a>
                        </li>

                        <li class="nav-item dropdown align-self-center">

                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Usuarios <i class="bi bi-people-fill"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="usuriosCreacion.html">Crear Usurario</a></li>
                                <li><a class="dropdown-item" href="consultarUsu.html">Consultar Usuario</a></li>
                                <li><a class="dropdown-item" href="consultarInmueble.html">Consultar Inmueble</a></li>


                            </ul>

                        <li class="nav-item dropdown align-self-center">

                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Adminstración <i class="bi bi-house"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="administracionDocumentacion.html">Documentación</a></li>
                                <li><a class="dropdown-item" href="multasSeccion.html">Multas</a></li>
                                <li><a class="dropdown-item" href="carteraSeccion.html">Cartera</a></li>
                                <li><a class="dropdown-item" href="visitantesSeccion.html">Vistantes</a></li>
                                <li><a class="dropdown-item" href="resumenDatos.html">Resumen de datos</a></li>

                            </ul>

                        <li class="nav-item dropdown align-self-center">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Alquiler Parqueaderos <i class="bi bi-car-front-fill"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="cuposParqueadero.html">Cupos parqueadero</a></li>
                                <li><a class="dropdown-item" href="movimientoVehiculo.html">Entrada y Salida</a></li>
                                <li><a class="dropdown-item" href="configuracionAlquiler.html">Configuración</a></li>

                             </ul>

                        </li>
                
                        <li class="nav-item dropdown align-self-center">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Comunicación <i class="bi bi-broadcast"></i></a>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="correspondencia.html">Correspondencia</a></li>
                                <li><a class="dropdown-item" href="novedades.html">Novedades</a></li>

                            </ul>

                        </li>

                        <li class="nav-item align-self-center">
                            <a class="nav-link active text-white d-flex justify-content-end" aria-current="page" href="index.html">Salir</a>
                        </li>
                    
                    </ul>


                </div>

            </div>

        </nav>

        <!-- Resumen de datos personales -->

        <div class="container pt-4">

            <div class="row">

                <div class="col-4">

                    <img src="/view/0. Imagenes/19. ResumenDatosUsuario/simbolUser.png" alt="" class="rounded">

                </div>

                <div class="col ms-5">

                    <h1 style="color: #23518C;">Datos del Usuario</h1>
                    <hr>
                    <div class="row">

                        <div class="col-2" style="font-size: 18px; color: #23518C; font-weight: bold;">

                            <p>ID: </p>
                            <p>Nombre: </p>
                            <p>Cedula: </p>
                            <p>Anden: </p>
                            <p>Casa: </p>
                            <p>Edad: </p>
                            <p>Correo: </p>
                            <p>Celular: </p>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#editarDatos" style="background-color: #23518C; border: #23518C; color: white;"> Editar </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="editarDatos" tabindex="-1" aria-labelledby="editarDatosLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="editarDatosLabel">Editar</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                    
                                            <!-- Tipo de residente -->
                    
                                            <label for="tipoResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500;">Tipo de Residente</label>
                                            <select class="form-select" aria-label="Default select example" id="tipoResidente">
                                                <option selected>seleccionar...</option>
                                                <option value="Residente-Propietario">Residente - Propietario</option>
                                                <option value="Residente-Propietario">Residente - Arrendatario</option>
                                                <option value="Residente-Propietario">Residente - Integrante</option>
                                            </select>
                    
                                            <!-- Nombre residente -->
                    
                                            <label for="nombreResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500">Nombre de residente</label>
                                            <input type="text" class="form-control" id="nombreResidente" aria-describedby="nombreResidente" maxlength="35" placeholder="nombre...">
                    
                                            <!-- Cedula -->
                    
                                            <label for="celularResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500">Cedula...</label>
                                            <input type="number" class="form-control" id="celularResidente" aria-describedby="celularResidente" maxlength="35" placeholder="cedula...">
                    
                                            <!-- Celular -->
                    
                                            <label for="celularResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500">Celular...</label>
                                            <input type="number" class="form-control" id="celularResidente" aria-describedby="celularResidente" maxlength="35" placeholder="celular...">
                    
                                            <!-- Correo Electronico -->
                    
                                            <label for="correoResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500">Correo electronico...</label>
                                            <input type="email" class="form-control" id="correoResidente" aria-describedby="correoResidente" maxlength="35" placeholder="correo...">
                    
                                            <!-- Fecha de nacimiento -->
                    
                                            <label for="fnacimientoResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500">Fecha de nacimiento</label>
                                            <input type="date" class="form-control" id="fnacimientoResidente" aria-describedby="fnacimientoResidente" maxlength="35" placeholder="fecha de nacimiento">
                    
                                            <!-- Anden -->
                    
                                            <label for="andenResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500">Anden</label>
                                            <select class="form-select" aria-label="Default select example" id="andenResidente">
                                                <option selected>seleccionar...</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                    
                                            <!-- Casa -->
                    
                                            <label for="casaResidente" class="formulario__label" style="margin-top: 10px; margin-bottom: 10px; color:#23518C; font-weight: 500">Numero de casa</label>
                                            <input type="text" class="form-control" id="casaResidente" aria-describedby="casaResidente" maxlength="35" placeholder="numero de casa...">
                                            
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn" style="background-color: #23518C; border: #23518C; color: white;">Realizar cambios</button>
                                            </div>

                                        </form>

                                </div>
                                </div>
                            </div>

                        </div>

                        <div class="col" style="font-size: 18px;">

                            <p>1</p>
                            <p>Juan Esteban Cajiao Madero</p>
                            <p>2666487455</p>
                            <p>1</p>
                            <p>10</p>
                            <p>20</p>
                            <p>estebax89@gmail.com</p>
                            <p>325 345 4798</p>

                            <!-- Boton Eliminar -->
                            <button type="button" class="btn mt-3" style="background-color: #a11129; color: white;" data-bs-toggle="modal" data-bs-target="#eliminarUsuario">Eliminar</button>

                            <!-- Modal -->
                            <div class="modal fade" id="eliminarUsuario" tabindex="-1" aria-labelledby="eliminarUsuarioLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="eliminarUsuarioLabel" style="color: #a11129;">Eliminar usuario</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>La eliminación del usuario implicara que toda la información relacionada a este se vera destruida y no podra ser restaurada</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn" style="background-color: #a11129; color: white;">Eliminar</button>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>

        <!-- Columnas resumen de datos por modulo -->

        <div class="container d-text-center mt-5">

            <div class="row justify-content-center pb-5">

                <div class="col">

                    <h3 style="color: #23518C;">Visitantes autorizados </h3>
                    <hr>
                    <table id="example" class="table table-striped" style="width:100%;">
                        <thead>
                            <tr>
        
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cedula</th>
                                <th>Fecha/Hora Ingreso</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10</td>
                                <td>Kelly Johana Diaz</td>
                                <td>4555632987</td>
                                <td>2023-04-17 15:30:05</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>David Olaya</td>
                                <td>1000658947</td>
                                <td>2023-03-24 10:10:00</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Milanesa Morera</td>
                                <td>4555698321</td>
                                <td>2023-05-10 14:05:15</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Milanesa Morera</td>
                                <td>4555698321</td>
                                <td>2023-05-10 14:05:15</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Milanesa Morera</td>
                                <td>4555698321</td>
                                <td>2023-06-07 16:10:45</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Kelly Johana Diaz</td>
                                <td>4555632987</td>
                                <td>2023-05-12 14:46:03</td>
                            </tr> 
                            <tr>
                                <td>10</td>
                                <td>Kelly Johana Diaz</td>
                                <td>4555632987</td>
                                <td>2022-07-21 15:08:16</td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>

                <div class="col">

                    <h3 style="color: #23518C;">Novedades del residente</h3>
                    <hr>
                    <table id="example1" class="table table-striped" style="width:100%;">
                        <thead>
                            <tr>
        
                                <th>ID</th>
                                <th>Asunto</th>
                                <th>Fecha</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td>Solicitud zonas comunes</td>
                                <td>2023-04-17</td>
                                <td>Espera</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>Solicitud camara de seguridad</td>
                                <td>2023-03-24</td>
                                <td>Espera</td>
                            </tr>
                            <tr>
                                <td>45</td>
                                <td>Solicitud Reunion con vecino</td>
                                <td>2023-05-10</td>
                                <td>Solicitud Atendida</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>Solicitud Reunion con administración</td>
                                <td>2023-05-10</td>
                                <td>Solicitud Atendida</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                </div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    </body>

</html